.profile_wrap{
    width:70%;
    margin:30px auto;
}

.profile_first{
    display: flex;
    margin-bottom: 15px;
    background-color: #fbf7f2;
    padding: 40px;
    border-radius: 4px;
}

.profile_img{
    width:300px;
    height:300px;
    border: 2px solid rgb(241, 196, 15);
    border-radius: 5px;
    position:relative;
}

.profile_img img{
    width:120px;
    height:120px;
    border-radius: 50%;;
    background-color: blue;
    background-position: center;
    background-size: cover;
    position:absolute;
    top:50px;
    right:90px;
}

.profile_update_btn{
    width:100px;
    height:40px;
    border-radius: 4px;
    border-color: rgb(241, 196, 15);
    background-color: rgb(241, 196, 15);
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: block;
    position:absolute;
    bottom:40px;
    right:100px;
}

.profile_contents ul .manner_degree{
	margin-bottom:10px;
	height:60px;
}


.profile_nickname{
    font-size: 25px;
    font-weight: bold;
    margin-top: 35px;
    margin-left: 30px;
}

.degree{
	width:250px;
	height:120px;
    margin-top: 110px;
    margin-left:20px;
}

.manner_degree{
    margin-left: 30px;
    font-size: 17px;
    font-weight: bold;
}

.manner_degree1{
    margin-left: 30px;
    font-size: 17px;
    font-weight: bold;
}

.flexf{
	display:flex;
}

.profile_degree{
    border:2px solid rgb(241, 196, 15);
    width:100px;
    height:40px;
    font-size:17px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    margin-left:42px;
    position:relative;
}

.profile_update_btn1{
    width:100px;
    height:40px;
    border-radius: 4px;
    border-color: rgb(241, 196, 15);
    background-color: rgb(241, 196, 15);
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: block;
    margin-left:20px;
}

.profile_second{
    background-color: #fbf7f2;
    padding: 40px;
    border-radius: 4px;
}

.profile_nav{
    display: flex;
    margin-bottom: 30px;
}

.profile_status{
    width:320px;
    height:60px;
    border-radius: 4px;
    line-height: 60px;
    margin:0px auto;
    text-align: center;
}

.profile_status a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color:black;
}

.profile_status a:hover{
    color:#868b94;
}

.home-card-wrap{
    padding:40px;
    justify-content: space-around;
    margin-right: 0px;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
}

.card-top{
    width: 220px;
    margin-left: 33px;
    margin-right: 40px;
    margin-bottom: 56px;
}
.home-card-wrap .card-top .card-link{
    text-decoration: none;
    color: #212529;
}
.home-card-wrap .card-top .card-photo{
    background-color: blue;
    width: 212px;
    height: 212px;
    padding-top: 20px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: inset 0px 0px 0px 1px rgb(0 0 0 / 15%);
    box-sizing: border-box;
}
.home-card-wrap .card-top .card-desc{
    margin-top: 12px;
}
.home-card-wrap .crad-top .card-desc .card-title{
    font-size: 16px;
    letter-spacing: -0.02px;
    color: #212529;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    line-height: 1.5;
    font-weight: normal;
}
.home-card-wrap .crad-top .card-desc .card-price{
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 4px;
}
.home-card-wrap .crad-top .card-desc .card-region{
    font-size: 13px;
    color: #212529;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    line-height: 1.5;
}
.home-card-wrap .card-top .card-desc .card-counts{
    color: #868e96;
    font-size: 13px;
}
.home-main-card-wrap .card-more{
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: -0.3px;
    font-weight: bold;
    color: #212529;
    text-align: center;
}

.profile_review_wrap{
    padding:40px;
}

.review_part{
    display: flex;
    border:2px solid rgb(241, 196, 15);
    padding:7px;
    border-radius: 4px;
    margin:10px auto;
}

.review_nickname{
    width:130px;
    height:50px;
    background-color:rgb(241, 196, 15);
    font-size: 17px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    border-radius: 4px;
}

.real_review{
    padding:5px;
    margin-left: 15px;
    line-height: 40px;
}