.popup-wrap{
    background-color:rgba(0,0,0,.3); 
    justify-content:center;
    align-items:center;    
    position:fixed;        
    top:0;
    left:0;
    right:0;
    bottom:0;              
    padding:15px; 

  }

  .popup{
    width:500px;              
    max-width:400px;         
    border-radius:10px;       
    overflow:hidden;          
    background-color:rgb(241, 196, 15);
    font-size: 17px;
    font-weight: bold;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); 
  }

  .popup-head{
    width:100%;
    height:50px; 
    display:flex; 
    align-items:center;
    justify-content:center;
  }

  .popup-body{                
    background-color:#ffffff; 
  }
  .body-content{              
    padding:20px;             
  }
  .body-titlebox{             
    text-align:center;        
    width:260px;
    height:40px;      
    margin:10px auto;
  }
  .body-contentbox{           
    width: 150px;
    height:50px;
    margin:10px auto;       
  }

  .popup-foot{                     
    width:100%;
    height:50px;
    display: flex;
  }

  .pop-btn{ 
    display:inline-flex;         
    width:50%;                      
    height:100%;                  
    justify-content:center;        
    align-items:center;             
    float:left;                     
    color:rgb(255, 255, 255);                
    cursor:pointer;                 
  }
  .pop-btn.confirm{                 
    border-right:1px solid black;
  }

  .img_loader{
    width:250px;
    height:30px;
    }

    .serach_btn{
      width:100px;
      height:40px;
      border-radius: 4px;
      border-color: rgb(241, 196, 15);
      background-color: rgb(241, 196, 15);
      color: rgb(255, 255, 255);
      font-weight: bold;
      display: block;
      margin:20px auto;
    }