.popup-wrap{
    background-color:rgba(0,0,0,.3); 
    justify-content:center;
    align-items:center;    
    position:fixed;        
    top:0;
    left:0;
    right:0;
    bottom:0;              
    padding:15px; 

  }

  .popup{
    width:1000px;              
    max-width:600px;         
    border-radius:10px;       
    overflow:hidden;          
    background-color:rgb(241, 196, 15);
    font-size: 17px;
    font-weight: bold;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); 
  }

  .popup-head{
    width:100%;
    height:50px; 
    display:flex; 
    align-items:center;
    justify-content:center;
  }

  .popup-body{                
    background-color:#ffffff; 
  }
  .body-content{              
    padding:20px;             
  }
  .body-titlebox{             
    text-align:center;        
    width:500px;
    height:350px;      
    margin:10px auto;
  }
  
  .update_first img{
    width:300px;
    height:300px;
    border-radius: 50%;
    background-color: red;
    margin:0px auto;
    display: block;
}

.update_first input{
    width:100px;
    height:40px;
    margin:50px auto;
    border-radius: 4px;
    border-color: rgb(241, 196, 15);
    background-color: rgb(241, 196, 15);
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: block;
}

  .body-contentbox{           
  	width:460px;
  	height:80px;
 	margin:20px auto;
  }
  
  .update_second{
    width:450px;
    margin:80px auto;
    padding:5px;
    border:0.3px solid rgb(241, 196, 15);
    border-radius: 4px;
}

.up_title{
    width:100px;
    height:50px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold; 
    text-align: center;
    line-height: 50px;
}

.update_nickname{
    width:180px;
    height:30px;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 10px;
}

.up_main{
    display:flex;
    height:50px;
    padding:8px;
}

.double_check{
    width:100px;
    height:40px;
    margin-top: 3px;
    border-radius: 4px;
    border-color: rgb(241, 196, 15);
    background-color: rgb(241, 196, 15);
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: block;
}

  .popup-foot{                     
    width:100%;
    height:50px;
    display: flex;
  }

  .pop-btn{ 
    display:inline-flex;         
    width:50%;                      
    height:100%;                  
    justify-content:center;        
    align-items:center;             
    float:left;                     
    color:rgb(255, 255, 255);                
    cursor:pointer;                 
  }
  .pop-btn.confirm{                 
    border-right:1px solid black;
  }
  
  .search_btn{
  	 width:100px;
      height:40px;
      border-radius: 4px;
      border-color: rgb(241, 196, 15);
      background-color: rgb(241, 196, 15);
      color: rgb(255, 255, 255);
      font-weight: bold;
      display: block;
      margin:20px auto;
  }
  
  .body_contentbox h3{
  		text-align:center;
  }