*{
    margin: 0px;
    padding: 0px;
}
h2{
    text-align: center;
}

.search-idpw-title{
    width: 250px;
    height:50px;
    border: 2px solid rgb(241, 196, 15);
    border-radius: 5px;
    margin:50px auto;
    line-height: 50px;
}

.search-wrap{
    width: 100%;
    border: 0.3px solid rgb(241, 196, 15);
    border-radius: 5px;
    padding:30px 20px;
    margin:0 auto;
    background-color: #fff;
    font-size: 14px;
}
.search-tab{
    width: 800px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
   
}
.search-tab-ul{
    list-style: none;
    display: flex;
}
.search-tab .search-current{
    display: inline-block;
    width: 400px;
    height: 50px;
}
.search-current a{
    text-decoration: none;
    color: #202020;
}
.id-search-wrap{
    margin: 0 auto;
    width: 800px;
}
.search-wrap .id-search-wrap .id-search-notice{
    padding: 15px 0;
}
.search-wrap .id-search-wrap .id-search-notice span{
    font-size: 13px;
    color: #aaa;
}
.id-search-wrap .search-type ul{
    list-style: none;
}
.id-search-wrap .search-type .type-list-current{
    border-bottom: 1px solid rgb(241,196,15);
}
.search-wrap .id-search-wrap .search-type .search-title button{
    width: 800px;
    padding: 15px 0;
    text-align: left;
    font-size: 15px;
    color: #202020;
    background-color: #fff;
    border: none;
}
.search-wrap button{
    margin: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.search-type .type-list-current .inputEnter{
    padding: 5px 0 15px;
}
.search-wrap .id-search-wrap .search-type .type-list-current .inputEnter .styleInput{
    margin-bottom: 10px;
}
.search-wrap .styleInput{
    position: relative;
    display: inline-block;
    width: 800px;
    vertical-align: center;
    line-height: 0;
}
.search-wrap .styleInput .input1{
    width: 800px;
    height: 35px;
    padding-left: 8px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 15px;
    color: #202020;
}
.search-wrap .styleInput .inputE{
    width: 500px;
    height: 35px;
    padding-left: 8px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 15px;
    color: #202020;
    display: inline-block;
}
.search-wrap .id-search-wrap .search-type .type-list-current .inputEnter .emailInput{
    margin-bottom: 10px;
}
.search-wrap .id-search-wrap .search-type .type-list-current .inputEnter .styleInput{
    margin-bottom: 10px;
}
.search-wrap .styleInput .delBtn{
    position: absolute;
    top: 9px;
    right: 11px;
    z-index: 2;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    background: url() no-repeat center center #fff;
    outline: 0;
    cursor: pointer;
}
.search-wrap .btnYellow{
    display: block;
    background-color: rgb(241, 196, 15);
    width: 800px;
    height: 35px;
    line-height: 32px;
    border-radius: 2px;
    border: 1px solid rgb(241, 196, 15);
    text-align: center;
    font-size: 15px;
    color: #fff;
}
.search-wrap .id-search-wrap .inputEnter .emailInput{
    display: flex;
}
.search-wrap .id-search-wrap .search-type .emailInput .userSelect{
    width: 300px;
    height: 35px;
}
.search-wrap .userSelect{
    z-index: 4;
    cursor: pointer;
}
.search-wrap .userSelect select{
    width: 290px;
    height: 35px;
}