.login_wrap{
    width:500px;
    border: 0.3px solid rgb(241, 196, 15);
    border-radius: 5px;
    padding:10px;
    margin:70px auto;
}

h2{
    text-align: center;
    display:block;
    line-height: 50px;
}

.h2_st{
    width:120px;
    height:50px;
    border: 2px solid rgb(241, 196, 15);
    border-radius: 5px;
    margin:50px auto;
}

.login_first{
    display: flex;
    margin-bottom: 10px;
    border-bottom:0.1px dotted rgb(241, 196, 15);
}

.login_main{
    width:150px;
    height:50px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 50px;
}

.login_first input{
    width:250px;
    height:30px;
    margin-top: 7px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.login_second{
    margin-top: 10px;
    display: flex;
    color:#868b94;
    font-size: 12px;
}

.login_second input{
    margin-left: 20px;;
}

.login_second a{
    margin-left: 260px;
    text-decoration: none;
    color:#868b94;
}

.login_third{
    width:300px;
    height:50px;
    margin:50px auto;
    display: flex;
    margin-top: 50px;
}

.login_third button{
    width:110px;
    height:45px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 2.5em;
    border-radius: 4px;
    border-color: rgb(241, 196, 15);
    background-color: rgb(241, 196, 15);
    margin-left: 30px;
    cursor:pointer;
}

.simple_login1{
    margin:10px auto;
    width:230px;
    height:40px;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/style/kakao_login_medium_narrow.png);
    cursor:pointer;
}
.simple_login2{
    margin:10px auto;
    width:230px;
    height:40px;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/style/btnG_official.png);
    cursor:pointer;
}
.simple_login3{
    margin:10px auto;
    width:230px;
    height:40px;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/style/google.png);
    cursor:pointer;
}

.login_fourth{
    margin-top: 30px;
    margin-bottom: 30px;
}

.login_fourth a{
    text-decoration: none;
    font-size: 13.5px;
    font-weight: bold;
    color:white;
}
